@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

h2{
    margin-bottom: 20px;
}

.container{
    width: 100%;
    height: 90vh;
    display: flex;
}

.dashboard{
    width: 83%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
}

.dashboard .area-cards{
    width: 100%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-cliente{
    width: 100%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 70%;
    height: 50%;
    text-align: center;
}

.btn{
    width: 50%;
    height: 30px;
    position: relative;
    display: block;
    font-size: 12pt;
    overflow: hidden;
    transition: 1s all ease;
    background-color: #1761A0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    color: #ffffff;
    text-decoration: none;
    padding: 3px 0;
    margin-bottom: 20px;
}

.btn span{
    z-index: 2;
    position: relative;
    color: #fff;
}

.btn::before{
    width: 100%;
    height: 100%;
    background-color: #00b7ff;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transition: all 0.6s ease;
    color: #fff;
}

.btn-venda::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.btn-venda:hover::before{
    height: 1000%;
}
