@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #dddddd;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #1761A0;
}

.container{
    width: 100%;
    height: 90vh;
    display: flex;
}

.carros{
    width: 83%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}

.clientes{
    width: 83%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}

.carros .form, .clientes .form{
    width: 65%;
    height: 80%;
    border-radius: 5px;
    padding: 10px 0 10px 1.7%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffffff;
}

.form h2{
    text-align: center;
    margin-bottom: 10px;
}

.form .row{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form .row .column{
    width: 50%;
    height: 100%;
}

.form .row .column .campo{
    width: 95%;
    height: 30px;
    font-size: 12pt;
    padding-left: 5px;
    border: none;
    border-bottom: solid 2px #888888;
}

.form .row .column .campo:focus{
    outline: none;
    border-bottom: solid 2px #1761A0;
}

.form .row .column .valores{
    width: 50%;
    float: left;
}

.form .row .column .valores .campo{
    width: 90%;
    height: 30px;
    font-size: 12pt;
    padding-left: 5px;
    border: none;
    border-bottom: solid 2px #888888;
}

.form .row .column .valores .campo:focus{
    outline: none;
    border-bottom: solid 2px #1761A0;
}

#placa{
    text-transform: uppercase;
}

.btn{
    width: 30%;
    height: 30px;
    position: relative;
    display: block;
    font-size: 12pt;
    overflow: hidden;
    transition: 1s all ease;
    background-color: #1761A0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    color: #ffffff;
    text-decoration: none;
}

.btn span{
    z-index: 2;
    position: relative;
    color: #fff;
}

.btn::before{
    width: 100%;
    height: 100%;
    background-color: #00b7ff;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transition: all 0.6s ease;
    color: #fff;
}

.btn-novo-carro::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.btn-novo-carro:hover::before{
    height: 560%;
}

.btn-novo-carro{
    width: 20%;
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.form hr{
    margin-top: -5px;
}

.form p{
    text-align: center;
    margin: 5px 0 -5px 0;
}

#form-novo-carro{
    height: 90%;
}

#obs{
    width: 95%;
    height: 86px;
    font-size: 12pt;
    padding-left: 5px;
    border: none;
    border-bottom: solid 2px #888888;
}

#obs:focus{
    outline: none;
    border-bottom: solid 2px #1761A0;
}