@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #dddddd;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #1761A0;
}

h4{
    text-align: center;
}

.container{
    width: 100%;
    height: 90vh;
    display: flex;
}

.clientes{
    width: 83%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    background-color: #f7f7f7;
}

.clientes .form{
    width: 65%;
    height: 80% !important;
    border-radius: 5px;
    padding: 10px 0 10px 1.7%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffffff;
}

.form h2{
    text-align: center;
    margin-bottom: 10px;
}

.row{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column{
    width: 50%;
    height: 100%;
}

.column-endereco{
    width: 75%;
    height: 100%;
}

.sub-column{
    width: 25%;
    height: 100%;
    padding-right: 1%;
}

.campo{
    width: 95%;
    height: 30px;
    font-size: 12pt;
    padding-left: 5px;
    border: none;
    border-bottom: solid 2px #888888;
}

.campo:focus, .campo:focus{
    outline: none;
    border-bottom: solid 2px #1761A0;
}

.readonly{
    cursor: not-allowed;
}

.success{
    border-bottom: solid 2px #2DCC70;
}

.error{
    border-bottom: solid 2px #ff0000;
}

.btn{
    width: 30%;
    height: 30px;
    position: relative;
    display: block;
    font-size: 12pt;
    overflow: hidden;
    transition: 1s all ease;
    background-color: #1761A0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    color: #ffffff;
    text-decoration: none;
}

.btn span{
    z-index: 2;
    position: relative;
    color: #fff;
}

.btn::before{
    width: 100%;
    height: 100%;
    background-color: #00b7ff;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transition: all 0.6s ease;
    color: #fff;
}

.btn-novo-cliente::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.btn-novo-cliente:hover::before{
    height: 560%;
}

.btn-novo-cliente{
    width: 20%;
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.btn-novo-cliente i{
    margin-left: 10px;
}

#form-novo-cliente{
    height: 90%;
}

#obs{
    width: 95%;
    height: 86px;
    font-size: 12pt;
    padding-left: 5px;
}

.required{
    color: #ff0000;
}

#part01{
    display: none;
}