header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #ffffff;
}

header #logoff{
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 12pt;
}

header #logoff i{
    margin-right: 10px;
}

header .btn{
    width: 100px;
    height: 40px;
    position: relative;
    display: block;
    font-size: 14pt;
    overflow: hidden;
    transition: 1s all ease;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 7px;
}

header .btn span{
    z-index: 2;
    position: relative;
    color: #CF1717;
    transition: all 0.6s ease;
}

header .btn::before{
    width: 100%;
    height: 100%;
    background-color: #CF1717;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transition: all 0.6s ease;
}

header .btn-logoff::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
}  

header .btn-logoff:hover::before{
    height: 420%;
}

header .btn-logoff{
    width: 40%;
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
}

header .btn:hover span{
    color: #ffffff;
    transition: all 0.6s ease;
}