@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 90vh;
    display: flex;
}

.dashboard{
    width: 83%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
}

.dashboard .area-cards{
    width: 30%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}