@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

nav{
    width: 19%;
    height: 100%;
    padding-top: 20px;
    overflow-y: scroll;
    background-color: #1E252D;
}

nav .vendedor-img{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
}

nav .vendedor-img img{
    width: 100%;
}

nav .nome-vendedor{
    margin: 10px 0;
    text-align: center;
    color: #ffffff;
}

nav ul{
    width: 100%;
    list-style-type: none;
}

nav ul li{
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    cursor: pointer;
}

nav ul li, nav li a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 12pt;
}

nav ul li:hover, nav li a:hover{
    background-color: #1761A0;
    color: white;
}

nav li i, nav li a i{
    margin-right: 10px;
}

#li-carros, #li-clientes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



#sub-carros, #sub-clientes{
    display: none;
}

#sub-carros i, #sub-clientes i{
    margin-left: 20px;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #dddddd;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #1761A0;
}