@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 90vh;
    display: flex;
}

.pendencias{
    width: 83%;
    height: 100%;
    background-color: #f7f7f7;
}

.btn{
    width: 90px;
    height: 30px;
    position: relative;
    display: block;
    font-size: 12pt;
    overflow: hidden;
    transition: 1s all ease;
    background-color: #1761A0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    color: #ffffff;
    text-decoration: none;
}

.btn span{
    z-index: 2;
    position: relative;
    color: #fff;
}

.btn::before{
    width: 100%;
    height: 100%;
    background-color: #00b7ff;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transition: all 0.6s ease;
    color: #fff;
}

.btn-aprovar::before, .btn-negar::before{
    width: 110%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.btn-negar::before{
    background-color: #ff0000;
}

.btn-aprovar:hover::before, .btn-negar:hover::before{
    height: 600%;
}

.btn-aprovar, .btn-negar{
    width: 30%;
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.btn-negar{
    background-color: #d21b1a;
}

.acoes{
    width: 100%;
    height: 10vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    border-top: 1px solid #DDDDDD;
    background-color: #ffffff;
}

.acoes .title{
    width: 70%;
    padding-left: 10px;
    line-height: 10vh;
}

.acoes .column{
    width: 15%;
    margin: 0 10px;
    font-size: 12pt;
}

#ordernar{
    width: 100%;
    height: 30px;
}

.area-tabela-pendencias{
    width: 98%;
    height: 86%;
    margin: auto;
    overflow: scroll;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffffff;
}

.tabela-pendencias{
    width: 150%;
    border-collapse: collapse;
}

.tabela-pendencias thead{
    background-color: #1761A0;
    color: #ffffff;
}

.tabela-pendencias thead th{
    width: 120px;
    height: 42px;
}

.tabela-pendencias tbody td{
    text-align: center;
    height: 40px;
}

.tabela-pendencias .td-acoes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tabela-pendencias tbody tr:hover{
    background-color: #dddddd;
}

.status-amarelo{
    color: darkorange;
}

.status-vermelho{
    color: #ff0000;
}

.status-verde{
    color: #2DCC70;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #dddddd;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #1761A0;
}