<link rel="stylesheet" href="css/header.css">

<header>   
    <img src="/images/logo03.png" alt="Logo" id="logo" data-aos="flip-right">
    <a id="logoff" class="btn btn-logoff"><span id="span"><i class="fas fa-power-off"></i>Logoff</span></a>
</header>