<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <input type="hidden" id="erro" value="<%= erro %>">
    
    <div class="container-login">
        <div class="form-login">
            <img src="logo2.png" id="logo-login" alt="">
            
            <h1>Login</h1>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha">
            <a href="index.html">
                <button type="submit" id="btn-login" class="btn btn-entrar"><span>Entrar</span></button>
            </a>
            
            <hr>
            <a href="">Esqueci a senha</a>
        </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/verificaLogin.js"></script>
</body>
</html>